#mapid { 
  height: 80%; 
  width: 90%;
  font-family: "Lucida Console", Courier, monospace;
}

body {
  font-family: "Lucida Console", Courier, monospace;
}

.slidecontainer {
  width: 90%;
  z-index: 10000000;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: black;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

/* for the lines on the slider*/

/*.menuwrapper {
    height: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 3px;
}
*/
/*div.menuwrapper {
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */

/*.menuwrapper {text-align:justify;}
.menuwrapper > a {display:inline-block}
.menuwrapper:after { content:' '; display:inline-block; width: 100%; height: 0 }*/

.menuwrapper { display: flex; justify-content: space-between; }

.menuwrapper2 { display: flex; justify-content: space-between; }

/*div.menuwrapper span {
    display: table-cell;
    text-align: center;
}*/

/*.menuitem {
    width: auto;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    color: black;
}
*/

.menuwrapper2 {
    height: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    margin-top: -20px;
}

/*.menuitem2 {
    width: 50px;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    color: black;
}*/
